/* Other rules */

/* Header */
.header {
  width: 1280;
  height: 130px;
  display: flex;
  align-items: center;
}

.button-seconecter {
  background-color: white;
  color: #2db0ba;
  border: 1px solid #2db0ba;
  width: 115px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

#button-seconecter {
  background-color: white;
  color: #2db0ba;
  border: 1px solid #2db0ba;
  width: 130px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

#button-sedesconecter {
  background-color: red;
  color: white;
  width: 130px;
  height: 32px;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

.header img {
  width: 110px;
  height: 44px;
  margin-left: 85px;
}

.header input {
  width: 695px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #f5f6f7;
  margin-left: 70px;
}

#icon {
  position: absolute;
  left: 230px;
  right: 400px;
  color: #bbbbbb;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 30px;
}

.header button {
  background-color: white;
  color: #2db0ba;
  border: 1px solid #2db0ba;
  width: 135px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

.header button:last-child {
  margin-right: 40px;
  color: white;
  background-color: #2db0ba;
  width: 173px;
}

/* Home */

.home {
  width: 1440px;
  height: 354px;
}

.home img {
  width: 1440px;
  height: 455px;
  object-fit: cover;
}

.box-image {
  background-color: white;
  width: 410px;
  height: 270px;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 3px;
  left: 100px;
  bottom: 330px;
  padding: 55px 28px 25px;
  box-sizing: border-box;
  position: absolute;
}

.box-image p {
  width: 309px;
  height: 82px;
  font-size: 37px;
  line-height: 40px;
}

.box-image button {
  width: 187px;
  height: 45px;
  color: white;
  background-color: #2db0ba;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Offers */

.offer-container {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.imgOffer img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

.offer {
  width: 247px;
  height: 479px;
  padding: 6px 6px 16px;
  box-sizing: border-box;
  margin-right: 12px;
}

.offer p {
  margin-top: 5px;
  margin-bottom: 7px;
}

.link {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  line-height: 10px;
}

.black {
  color: black;
  font-size: 17px;
  line-height: 13px;
  margin-bottom: 8px;
}

.grey {
  color: #97999b;
  font-size: 15px;
}

.home-bottom-text {
  color: #999999;
  font-size: 12px;
}

/* OFFER ROUTE*/

.black-price {
  font-size: 24px;
  color: black;
  margin-bottom: 50px;
}

.route-offer-cointaner {
  width: 1440px;
  background-color: #eaedee;
}

.route-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.route-texts {
  width: 400px;
  height: 605px;
  background-color: white;
  padding: 40px 40px 40px;
  box-sizing: border-box;
}

.top-textos {
  display: flex;
  justify-content: space-between;
}

.line {
  margin-top: 50px;
}

.bottom-textos {
  margin-top: 50px;
  color: #666666;
}

.bottom-textos button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
  cursor: pointer;
}

/* SIGNUP*/

.signup {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  align-items: center;
  margin-left: 430px;
  margin-top: 50px;
}

.signup-title {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signup input {
  border: none;
  margin-bottom: 31px;
  border-bottom: 1px solid rgb(212, 204, 204);
  width: 250px;
  font-size: 16px;
  color: #807676;
  outline: none;
}

.form-signup input::placeholder {
  color: #a09a9a;
}

#box-signup {
  margin-right: 250px;
  position: absolute;
  -webkit-transform: scale(2);
  top: 397px;
  right: 475px;
}
#box-signup:checked {
  background-color: #a09a9a;
}

.form-signup label {
  font-size: 17px;
  margin-left: 35px;
  color: #4d4949;
}

.form-signup p {
  color: #858080;
  width: 248px;
  text-align: justify;
  font-size: 14px;
  margin-top: 10px;
}

.form-signup button {
  width: 262px;
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
  cursor: pointer;
}

.form-signup p:last-child {
  margin-left: 35px;
  color: #07d1db;
}

/* LOGIN*/

.login-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  align-items: center;
  margin-left: 430px;
  margin-top: 50px;
}

.login-form-title {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 31px;
  width: 250px;
  font-size: 16px;
  color: #d8d5d5;
}

.login-form input {
  border-width: 0px;
  border: none;
  outline: none;
  margin-bottom: 31px;
  border-bottom: 1px solid rgb(161, 156, 156);
  width: 250px;
  font-size: 14px;
  color: #948d8d;
}

.login-form input::placeholder {
  color: #b6afaf;
}

.login-form button {
  width: 262px;
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 20px;
  cursor: pointer;
}

.login-container p:last-child {
  margin-left: 10px;
  color: #07d1db;
}
