/* Other rules */

/* Header */
.header {
  width: 1280;
  height: 130px;
  display: flex;
  align-items: center;
}

.button-seconecter {
  background-color: white;
  color: #2db0ba;
  border: 1px solid #2db0ba;
  width: 115px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

#button-seconecter {
  background-color: white;
  color: #2db0ba;
  border: 1px solid #2db0ba;
  width: 130px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

#button-sedesconecter {
  background-color: red;
  color: white;
  width: 130px;
  height: 32px;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90px;
  margin-right: 90px;
}

.header img {
  width: 110px;
  height: 44px;
  margin-left: 85px;
}

.header input {
  width: 555px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #f5f6f7;
  margin-left: 80px;
}

.header input::placeholder {
  border: none;
  color: #9fa0a1;
}

#icon {
  position: absolute;
  font-size: 10px;
  width: 30px;
  height: 30px;
  left: 230px;
  right: 700px;
  color: #bbbbbb;
  background-color: #f5f6f7;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 30px;
}

.header button {
  background-color: white;
  color: #2db0ba;
  border: 1px solid #2db0ba;
  width: 135px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

.header button:last-child {
  margin-right: 30px;
  color: white;
  background-color: #2db0ba;
  width: 140px;
}

/* TOOGLE SWITCH */

.container-switch {
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-top: 15px;
}
.container-switch p {
  font-size: 13px;
  margin-right: 5px;
  margin-left: 5px;
  color: #2db0ba;
  padding: 3px 3px 3px;
  border: 1px solid #2db0ba;
  border-radius: 8px;
}
.container-switch input {
  width: 50px;
  margin-left: 10px;
  margin-right: 3px;
}

.switch-filters-asc-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.switch-filters-asc-desc p {
  margin-left: 20px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #2db0ba;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: white;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #2db0ba;
}

/* Home */

.home {
  width: 1440px;
  height: 354px;
}

.home img {
  width: 1440px;
  height: 455px;
  object-fit: cover;
}

.box-image {
  background-color: white;
  width: 410px;
  height: 270px;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 3px;
  left: 100px;
  bottom: 330px;
  padding: 45px 28px 25px;
  box-sizing: border-box;
  position: absolute;
}

.box-image p {
  width: 309px;
  height: 82px;
  font-size: 37px;
  line-height: 40px;
}

.box-image p:last-child {
  font-size: 16px;
  color: #07d1db;
  border-top: 5px;
}

.box-image button {
  width: 157px;
  height: 45px;
  color: white;
  background-color: #2db0ba;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
}

/* Offers */

.offer-container {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.imgOffer img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

.offer {
  width: 247px;
  height: 479px;
  padding: 6px 6px 16px;
  box-sizing: border-box;
  margin-right: 12px;
}

.offer p {
  margin-top: 5px;
  margin-bottom: 7px;
}

.link {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  line-height: 10px;
}

.black {
  color: black;
  font-size: 17px;
  line-height: 13px;
  margin-bottom: 8px;
}

.grey {
  color: #97999b;
  font-size: 15px;
}

.home-bottom-text {
  color: #999999;
  font-size: 12px;
}

/* OFFER ROUTE*/

.black-price {
  font-size: 24px;
  color: black;
  margin-bottom: 50px;
}

.route-offer-cointaner {
  width: 1440px;
  background-color: #eaedee;
}

.route-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.route-offer img {
  max-width: 600px;
  max-height: 650px;
  object-fit: cover;
}

.route-texts {
  width: 400px;
  height: 605px;
  background-color: white;
  padding: 40px 40px 40px;
  box-sizing: border-box;
}

.top-textos {
  display: flex;
  justify-content: space-between;
}

.line {
  margin-top: 50px;
}

.bottom-textos {
  margin-top: 50px;
  color: #666666;
}

.bottom-textos button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
  cursor: pointer;
}

/* SIGNUP*/

.signup {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  align-items: center;
  margin-left: 430px;
  margin-top: 50px;
}

.signup-title {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signup input {
  border: none;
  margin-bottom: 31px;
  border-bottom: 1px solid rgb(212, 204, 204);
  width: 250px;
  font-size: 16px;
  color: #807676;
  outline: none;
}

.form-signup input::placeholder {
  color: #a09a9a;
}

#box-signup {
  margin-right: 250px;
  position: absolute;
  -webkit-transform: scale(2);
  top: 397px;
  right: 493px;
}
#box-signup:checked {
  background-color: #a09a9a;
}

.form-signup label {
  font-size: 17px;
  margin-left: 35px;
  color: #4d4949;
}

.form-signup p {
  color: #858080;
  width: 248px;
  text-align: justify;
  font-size: 14px;
  margin-top: 10px;
}

.form-signup button {
  width: 262px;
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
  cursor: pointer;
}

.form-signup p:last-child {
  margin-left: 35px;
  color: #07d1db;
}

/* LOGIN*/

.login-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  align-items: center;
  margin-left: 430px;
  margin-top: 50px;
}

.login-form-title {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 31px;
  width: 250px;
  font-size: 16px;
  color: #d8d5d5;
}

.login-form input {
  border-width: 0px;
  border: none;
  outline: none;
  margin-bottom: 31px;
  border-bottom: 1px solid rgb(161, 156, 156);
  width: 250px;
  font-size: 14px;
  color: #948d8d;
}

.login-form input::placeholder {
  color: #b6afaf;
}

.login-form button {
  width: 262px;
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 20px;
  cursor: pointer;
}

.publish-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container p:last-child {
  margin-left: 10px;
  color: #07d1db;
}

/* PUBLISH */

.publish-background {
  background-color: #eaedee;
}

.publish-form h2 {
  font-size: 25px;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 1100px;
}

.publish-dropzone {
  background-color: white;
  width: 1280px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.publish-dropzone-box {
  border: 2px dashed #eaedee;
  width: 1240px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.publish-dropzone-box img {
  max-width: 40px;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.publish-dropzone p {
  width: 402px;
  height: 48px;
  font-size: 17px;
  color: #07d1db;
  border: 2px solid #07d1db;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
}

#dropzone {
  background-color: red;
  width: 1260px;
  height: 230px;
}

.form-title-description-box {
  background-color: white;
  width: 1280px;
  height: 222px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  color: rgb(87, 84, 84);
}

.publish-form-title {
  margin-bottom: 25px;
  display: flex;
  border-bottom: 1px solid #eaedee;
  margin-bottom: 20px;
  margin-top: 15px;
  color: rgb(87, 84, 84);
}

.publish-form-title p {
  font-size: 19px;
  line-height: 13px;
}

.publish-form-title input {
  margin-left: 500px;
  width: 620px;
  height: 25px;
  border: none;
  outline: none;
  color: #b1afaf;
  font-size: 18px;
  border-bottom: 1px solid #eaedee;
  margin-bottom: 20px;
}

.publish-form-title input::placeholder {
  font-size: 17px;
  color: #b1afaf;
}

.publish-form-description {
  margin-bottom: 25px;
  display: flex;
}

.publish-form-description p {
  font-size: 19px;
  line-height: 13px;
}

.publish-form-description input {
  margin-left: 400px;
  width: 620px;
  height: 25px;
  border: none;
  outline: none;
  color: #b1afaf;
  font-size: 18px;
  border-bottom: 1px solid #eaedee;
}

.publish-form-description input::placeholder {
  font-size: 17px;
  color: #b1afaf;
}

.form-brand-size-box  {
  background-color: white;
  width: 1280px;
  height: 222px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px;
  box-sizing: border-box;
}

.form-title-description-brand-box {
  background-color: white;
  width: 1280px;
  height: 440px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.form-title-description-price {
  background-color: white;
  width: 1280px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.button-publish {
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 50px 0;
  font: inherit;
  outline: inherit;
  padding: 12px;
  width: 77px;
  height: 49px;
  margin-left: 1200px;
  cursor: pointer;
}

/* CHECK OUT FORM */

.checkoutform-background {
  background-color: #eaedee;
  width: 1440px;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutform-background form {
  background-color: white;
  width: 640px;
  height: 623px;
  padding: 36px 20px;
  box-sizing: border-box;
}

.checkoutform-background p {
  font-size: 15px;
  color: #999999;
}
.checkoutform-details-box {
  margin-top: 50px;
  margin-bottom: 52px;
}

.checkoutform-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.checkoutform-details p {
  color: #6b6969;
  font-size: 17px;
}

.checkoutform-details span {
  color: #696767;
  font-size: 17px;
}

.checkoutform-total {
  margin-top: 56px;
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkoutform-total span {
  font-size: 18px;
  color: black;
}
.checkoutform-total p {
  font-size: 18px;
  color: black;
}

#checkoutform-final {
  font-size: 17px;
  color: rgb(94, 92, 92);
}

.checkoutform-card-section {
  margin-top: 50px;
}

.checkoutform-card-section button {
  margin-top: 30px;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  padding: 0 14px;
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  background: #0ab1ba;
  border-color: #0ab1ba;
  cursor: pointer;
}
